
        <aside class="sidebar">

            <h3>MENU COLMEIA</h3>
            <div class="side-group">
                <strong>ARQUIVOS</strong>
                <a class="side-link" href="https://drive.google.com/drive/folders/1eUoEYSrYSTnekyOn4EApjVtmoSlx07-Q?usp=drive_link" target="_blank" rel="noopener noreferrer">Atípicos</a>
                <a class="side-link" href="https://drive.google.com/drive/folders/1LD7LkqM2orkw41fBdG7HoO_fRZo9PnDs?usp=drive_link" target="_blank" rel="noopener noreferrer">Colmeia</a>
                <a class="side-link" href="https://drive.google.com/drive/folders/1uvroecX7ygJkmLF-G5KabXPqd7By4FnH?usp=drive_link" target="_blank" rel="noopener noreferrer">PLabs</a>
                <div class="side-link">Library.io</div>
                <div class="side-link">Comus.io</div>
            </div>

            <div class="side-group">
                <strong>PLATAFORMAS</strong>
                <a class="side-link" href="https://studio.youtube.com/channel/UCRW72C8GafilJKJT2_uwyYQ" target="_blank" rel="noopener noreferrer">YouTube Studio CPUJ</a>
                <a class="side-link" href="https://distrokid.com/mymusic/" target="_blank" rel="noopener noreferrer">DistroKid</a>
                <a class="side-link" href="https://artists.spotify.com/c/artist/3FK5K61E0y4ecezcntU4Rw/home" target="_blank" rel="noopener noreferrer">Spotify</a>
                <a class="side-link" href="https://artists.spotify.com/c/artist/3FK5K61E0y4ecezcntU4Rw/home" target="_blank" rel="noopener noreferrer">Instagram Atípicos</a>
                <a class="side-link" href="https://artists.spotify.com/c/artist/3FK5K61E0y4ecezcntU4Rw/home" target="_blank" rel="noopener noreferrer">Spotify</a>
            </div>
                
            <div class="side-group">
                <strong>EDITAIS EM ABERTO</strong>
                <a class="side-link" href="https://www.secult.rn.gov.br/postagem/programa-camara-cascudo/" target="_blank" rel="noopener noreferrer">PROCCC</a>
            </div>

        </aside>
